* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  --primary-color: blue;
  --secondary-color: black;
  font-family: Arial, sans-serif;
  font-size: 22px;
  background: var(--secondary-color);
}

body.computing {
  --primary-color: red;
}

body.no-models {
  cursor: not-allowed;
}

body.no-models > * {
  pointer-events: none;
}

p {
  margin: 0;
}

button {
  margin: 0;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  color: var(--secondary-color);
  background: var(--primary-color);
  border: none;
  cursor: pointer;
}

/* button:hover {
  filter: hue-rotate(20deg);
  filter: blur(2px);
} */

select {
  flex-flow: row nowrap !important;
  padding: 0.25em;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-align-last: center;
  color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  outline: none;
  appearance: none;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 3rem;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  border: 0;
  outline: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  object-fit: cover;
}

#app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0.25em;
  padding: 0.25em;
  transition: all ease-in-out 300ms;
}

#app > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 2em;
  text-transform: uppercase;
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0 0 10em var(--secondary-color);
}

#app > *:hover {
  z-index: 100;
}

#response {
  padding: 3rem;
  display: block;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 3;
}

#response::-webkit-scrollbar {
  display: none;
}

.controller.computing #models {
  cursor: progress;
}

.controller.computing .model {
  pointer-events: none;
}

.controller .model {
  cursor: move;
}

.model {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  user-select: none;
}

.model.highlight {
  color: var(--primary-color);
  background: var(--secondary-color);
}

/* grid */

#model {
  grid-column: 1 / span 3;
  text-align: center;
  cursor: pointer;
}

#from {
  grid-column: 4 / span 2;
}

#send {
  grid-column: 6 / span 1;
}

#response {
  grid-column: 1 / span 4;
  grid-row: 2 / span 8;
}

#visual {
  grid-column: 1 / span 4;
  grid-row: 2 / span 8;
  z-index: 5;
  box-shadow: none;
}

#speech-controls {
  grid-column: 5 / span 2;
  grid-row: 9 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  user-select: none;
}

#voice-select {
  grid-column: 5 / span 2;
  grid-row: 8 / span 1;
}

#speech-controls .sp {
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--primary-color);
  width: 6rem;
  height: 4rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#speech-controls .sw {
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--primary-color);
  width: 12rem;
  height: 4rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tts #visual {
  grid-column: 5 / span 2;
  grid-row: 8 / span 2;
  z-index: 0;
  box-shadow: 0 0 10em var(--secondary-color);
}

.tts #voice-select{
  display: none;
}

.tts #speech-controls{
  display: none;
}

.interface #models {
  grid-column: 5 / span 2;
  grid-row: 2 / span 6;
}

/* controller */

#compute {
  grid-column: 6 / span 1;
  grid-row: 1 / span 1;
}

#loop {
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
}

#clients {
  grid-column: 5 / span 2;
  grid-row: 2 / span 1;
}

#controller {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.controller #from {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}

#prompt {
  grid-column: 1 / span 4;
  grid-row: 2 / span 4;
}

#models {
  grid-column: 5 / span 2;
  grid-row: 3 / span 6;
}

#scroller {
  grid-column: 1 / span 6;
  grid-row: 10 / span 1;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
  color: var(--primary-color);
  background: transparent;
  border-radius: 0px;
  z-index: -5;
}

#system {
  padding-left: 100vw;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
